<!DOCTYPE html>
<html>
{% include "endpoint_manager/head.html" %}
<body class="bg-light">
	<div class="container mt-4 text-center bg-white p-4 rounded-3 shadow">
		<h1>FakeApi</h1>
		<input type="text" class="form-control text-center" id="base_route" value="{{site_url}}/{{base_route}}" readonly>
	</div>    

	{% if messages %}
		<div class="container mt-4">
			{% for message in messages %}
				<div class="alert {% if message.tags %} alert-{{ message.tags }} {% endif %} alert-dismissible fade show" role="alert">
					<span>
						{{ message }}
					</span>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			{% endfor %}
		</div>
	{% endif %}
	
	<div class="container mt-2 p-4">
		<div class="d-flex justify-content-between align-items-center mb-4">
			<h3>Endpoints</h3>
			<div>
				<a href="/removerendpoints" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash-can"></i> Remover tudo</a>
				<a href="/novoendpoint" class="btn btn-sm btn-success"><i class="fa-solid fa-plus"></i> Novo Endpoint</a>
			</div>
		</div>
		<div>
			<div class="accordion" id="accordionPanel">
				{% if endpoints %}
					{% for endpoint in endpoints %}
						<div class="accordion-item">
							<h2 class="accordion-header" id="panelsEndpoint-{{ endpoint.id }}">
								<div class="accordion-button collapsed p-2" data-bs-toggle="collapse" data-bs-target="#panelsCalapseEndpoint-{{ endpoint.id }}" aria-expanded="false" aria-controls="panelsCalapseEndpoint-{{ endpoint.id }}">
									<div class="d-flex justify-content-between flex-wrap w-100">
										<div class="d-flex align-items-centergap-2">
											<div class="d-flex align-items-center gap-2">
												<div>
													<button style="font-size: 14px; width: 100px" class="btn btn-sm px-2 py-0 mt-1 btn-primary">
														{{ endpoint.metodo_http }}
													</button>             
												</div>
												<p class="p-0 m-0 fw-bold text-secondary" style="font-size: 14px">/{{ endpoint.endpoint }}</p>
											</div>
										</div>
										<div class="px-4">
											<a href="/removerendpoints?id={{ endpoint.id }}" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash-can"></i></a>
										</div>
									</div>
								</div>
							</h2>
							<div id="panelsCalapseEndpoint-{{ endpoint.id }}" class="accordion-collapse collapse" aria-labelledby="panelsEndpoint-{{ endpoint.id }}">
								<div class="accordion-body">
									<label for="Resposta" class="form-label">Retorno</label>
									<textarea class="form-control" id="Resposta" rows="3" readonly>{{ endpoint.retorno }}</textarea>
								</div>
							</div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>