<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<h1>Olá, Mundo!</h1>
    <p>Agora são: {{now}}</p>

	{{api_url}}    

{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}

    <form method="POST">
		{% csrf_token %}
		{{form}}
		<button type="submit">Salvar</button>
	</form>
</body>
</html>